<?xml version="1.0" encoding="UTF-8"?>
<project name="stuff" board="Mojo V3" language="Lucid">
  <files>
    <src>boole8Bit.luc</src>
    <src>shift8Bit.luc</src>
    <src>multiplier8Bit.luc</src>
    <src>alu8Bit.luc</src>
    <src>seven_seg.luc</src>
    <src>adder8Bit.luc</src>
    <src>compare8Bit.luc</src>
    <src>multi_seven_seg.luc</src>
    <src>finitestatemachine2.luc</src>
    <src top="true">mojo_top.luc</src>
    <ucf>fff.ucf</ucf>
    <ucf lib="true">io_shield.ucf</ucf>
    <ucf lib="true">mojo.ucf</ucf>
    <component>reg_interface.luc</component>
    <component>decoder.luc</component>
    <component>spi_slave.luc</component>
    <component>uart_rx.luc</component>
    <component>cclk_detector.luc</component>
    <component>reset_conditioner.luc</component>
    <component>avr_interface.luc</component>
    <component>uart_tx.luc</component>
    <component>pipeline.luc</component>
    <component>counter.luc</component>
    <component>edge_detector.luc</component>
  </files>
</project>
